body {
    background-color: #e7dfd8;
    color: #000000;
  }
  nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }