body {
    background-color: #e7dfd8;
    color: #000000;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
  }

  nav ul {
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    padding:50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  h1 {
    font-size: 56px;
  }

  button{
    background-color: red;
  }