body {
    background-color: #e7dfd8;
    color: #000000;
    margin: auto;
    width: max-content;
    text-align: center;
  }

  nav ul {
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    padding-top:50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  h1 {
    font-size: 56px;
  }

  button{
    background-color: red;
  }